@charset "UTF-8";

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.column {
	border:#ffffff solid 1px;
	background-color: #4a96a0;
	float:inline;
	
	margin-left:30px;
	margin-right:30px;
}

#inspiration{
	display: none;
	border: solid 3px #ffffff;
	background-color: #4a96a0;
	border-radius: 5px;
}
#inspiration ul {
	margin: -10px 10px 10px 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 12px;
	font-weight: bold;
}
#title{
	color: #ffffff;
	font-size: 14px;
}

.column:hover{
	opacity: 0.3; 
}
#workid, #schoolid, #playid p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	color: #ffffff;
}

.striped-border {
	border: 1px solid #000; width: 80%; margin: auto; margin-top: 10px; margin-bottom: 5%;
 }
 
#logo {
	margin-top: 80px;
	display: flex;
    justify-content: center;
	
}
#sectionID{
	display: none;

}
#artButtom{
	background-color: rgb(248, 248, 248);
	width: 30vh;
	height: 20px;
	border: 1px solid black;
	} 
#Work-box{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	margin-bottom:100px;
	width:80%;
}
.caption {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	color:black;
	}
.button{
	border: solid #4a96a0 3px;
	margin-left: auto;
	margin-right: auto;
	background-color:#4a96a0 ;
	color:#ffffff;
}
footer{
	margin:50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height:20px;
	position:relative;
	}
#apiBlocks{
	border: solid 3px #ffffff ;
	border-radius: 5px;
	width: 100%;
	justify-items: center;
}

#Middle-col{
	margin: 5px 5x 0px 5px;
}	
.title{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
}