@charset "UTF-8";

body {
	font-family: source-sans-pro;
	background-color: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.column {
	border:#ffffff solid 1px;
	background-color: #4a96a0;
	float:inline;
	
	margin-left:30px;
	margin-right:30px;
	
}
.column:hover{
	opacity: 0.3; 
}
#workid, #schoolid, #playid p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	color: #ffffff;
}

.striped-border {
	border: 1px solid #000; width: 80%; margin: auto; margin-top: 10px; margin-bottom: 5%;
 }
 
#logo {
	margin-top: 80px;
	display: flex;
    justify-content: center;
	
}
#Work-box{
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	margin-bottom:100px;
	width:80%;
}
.caption {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	color:black;
	}
.button{
	border: solid #4a96a0 3px;
	margin-left: auto;
	margin-right: auto;
	background-color:#4a96a0 ;
	color:#ffffff;
}
footer{
	margin:50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height:20px;
	position:relative;
	}
#apiBlocks{
	border: solid 3px #4a96a0 ;
	border-radius: 5px;
	width: 80%;
	margin-right:auto;
	margin-left:auto;
	justify-items: center;
	width: 40%;
	height:40%;	
}
#Middle-col{
	
	margin-left:50px;
	margin-right:50px;
}	
.title{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
}
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
}